*{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
.app_wapper {
  .el-menu-item{
    text-align: left;
  }
  .el-menu-item i{
    color: #Fff;
  }
  .el-menu-item [class^=el-icon-]{
    font-size: 22px;
  }
  span{
    font-size: 14px;
  }
  .nav-bar{
    .is-active{
      background: #000c17!important;
      i{
        color: inherit!important;
      }
    }
  }
  .el-main{
    font-size: 14px;
    margin: 10px;
    padding: 10px!important;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px #d7d7d7;
  }
}